<div class="container">
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-gamecontrol
      (myTickEvent)="onTickEvent($event)"
      ></app-gamecontrol>
      <div class="row" *ngFor="let item of listElements" >
        <app-odd *ngIf="item.name === 'oddball'" >
        </app-odd>
      </div>
      <div class="row" *ngFor="let item of listElements">
        <app-even>
          <p #contentParagraph>
            <strong *ngIf="item.name === 'even'" style="color: green">{{ item.tick }} {{item.name}}</strong>
            <strong *ngIf="item.name === 'odd'" style="color: red">{{ item.tick }}  {{item.name}}</strong>
          </p>
        </app-even>
      </div>
    </div>
  </div>
</div>
