<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onPersistItem(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input
                           type="text"
                           id="name"
                           class="form-control"
                           name="name"
                           ngModel
                           required
                           #name="ngModel">
                       <span class="help-block" *ngIf="!name.valid && name.touched" >Name is required</span>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input
                           type="number"
                           id="amount"
                           class="form-control"
                           name="amount"
                           ngModel
                           required
                           [pattern]="'^[1-9]+[0-9]*$'"
                           #amount="ngModel">
                       <span class="help-block" *ngIf="!amount.valid && amount.touched" >Amount is not valid</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success btn-space btn-width-75"
                            type="submit"
                            [disabled]="!f.valid"
                            >{{ editMode ? 'Update' : 'Add' }}</button>
                    <button class="btn btn-danger btn-space" type="button" (click)="onDeleteItem()" [disabled]="itemIndex < 0 || !f.valid">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClearInputs()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
