<div class="row">
    <div class="col-xs-12">
      <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{recipe.description}}</h4>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div (click)="isOpen = !isOpen;" [ngClass]="getClassOpen()">
            <button 
              type="button" 
              class="btn btn-primary dropdown-toggle">
              Manage Build Kit<span class="caret"></span> 
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onRecipeToShoppingList()" style="cursor: pointer" >To Parts List</a></li>
                <li><a (click)="onEditRecipe()" style="cursor: pointer" >Edit Build Kit</a></li>
                <li><a style="cursor: pointer" (click)="onDeleteRecipe()" >Delete Build Kit</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 thick-butter-top">
        <img [src]="recipe.imagePath"
             alt="{{recipe.name}}"             
             class="img-responsive"
             >
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li 
              class="list-group-item"
              *ngFor="let ingredient of recipe.ingredients; let i = index;" >
              {{ ingredient.name }} - {{ ingredient.amount }}
              <button class="btn btn-success go-right" title="add to shopping list"  (click)="onRecipeItemToShoppingList(i)"></button>
            </li>
        </ul>
    </div>
</div>

